{
    "parser": "babel-eslint",

    "env": {
        "node": 1,
        "browser": 1
    },

    "plugins": [
        "react"
    ],

    "extends": ["airbnb"],

    "rules": {
      "react/prop-types": 0,
      "no-console":0
    }
}
